/* .tweeter-container {
    border: 1px solid red;
    background-color: white
  } */

.tweets {
    border: 1px solid darkgray;
    border-radius: 8px;
}

.tweets header {
    background-color: #eeee;
    border-radius: 8px 8px 0px 0px;
    border:1px solid transparent;

}

.user-avatar {
    display: flex;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 8px;
    float: left;
}

.tweets h2 {
    display: inline-block;
    width: 60%;
    margin: 0;
    padding: 10px 0px 35px 10px;
    font-size: 30px;
    color: slategray;
    
}

.tweets h4 {
    display: inline-block;
    float: right;
    padding-right: 5px;
    font-size: 15px;
    color: darkgray;
    font-weight: 100;
}

.tweets p {
    padding: 0px 10px 0px 10px;
}

.tweets footer {
    border-top: 1px solid #eeee;
    font-size: 12px;
}